<div class="col l4 m4 s6">

<div class="card-panel center-align">
    <h5 class="blue-text text-darken-2 name"></h5>

    <table class="striped bordered">
        <tbody>
            <tr>
                <td>pid</td>
                <td class="pid"></td>
            </tr>
            <tr>
                <td>pm2id</td>
                <td class="pm2id"></td>
            </tr>
            <tr>
                <td>name</td>
                <td class="name"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a class="waves-effect waves-light btn dashboard">view Dashboard</a>
</div>

</div>
